img {
    width: 60vh;
    height: 80vh;
}

body {
    display:grid;
    grid-template: 10% / 50%;
}

form {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem;
    border-radius: 10px;
}

#Contact_Form {
    font-family: Georgia;
    font-size: 20px;
    text-align: center;
}

input[type="submit"] {
    color:white;
    background-color: darkmagenta;
}

input[type="submit"]:hover {
    cursor:grab;
    background-color:chocolate;

}

