img {
    width: 60vh;
    height: 80vh;
    padding: 50px;
}

body {
    display:grid;
    grid-template: 5% / 50%;
    justify-content: center;
}

form {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem;
    border-radius: 10px;
}

#Contact_Form {
    font-family: Georgia;
    font-size: 20px;
    text-align: center;
}

input[type="submit"] {
    color:white;
    background-color: darkmagenta;
}

input[type="submit"]:hover {
    cursor:grab;
    background-color:chocolate;

}

/* mobile */
@media (max-width:480px) {
    body {
        margin: 0 auto;
        padding: 0;
    }
}

/* iPad */
@media (max-width:1024px) {
    body {
        margin: 0 auto;
        padding: 0;
    }
}

/* desktop */
@media  screen and (max-width: 1680px) {
    body {
        margin: 0 auto;
        padding: 0;
    }
}

